node-red/.flows.json.backup
[{"id":"fab488d10bc34cea","type":"tab","label":"BIL54 api.statbank.dk ","disabled":false,"info":"","env":[]},{"id":"48b24e9600d7c858","type":"tab","label":"AREALDK api.statbank.dk","disabled":false,"info":"# Danmarks areal\r\n### Statistikken viser Danmarks areal fordelt efter kommuner og regioner, opgjort pr. 1. januar. \r\nFra 2011 er opgørelsen baseret på data fra Geodatastyrelsens matrikelregister.\r\nKun matrikulerede områder er medtaget ved opmålingen, hvilket medfører, at mange søer ikke er medtaget. '\r\nFor kommuner med umatrikulerede søer vil arealet derfor være faldet sammenlignet med tidligere. Pr. 1. januar 2011-2013 gælder yderligere for København og Frederiksberg, at vejene ikke er matrikuleret og derfor ikke indgår i det opmålte areal.\r\n\r\nhttps://www.dst.dk/da/Statistik/dokumentation/statistikdokumentation/arealregnskab/indhold\r\n\r\n","env":[]},{"id":"b13e2f5fc4f996fa","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"56d6546b49429320","type":"group","z":"fab488d10bc34cea","name":"Forespørgsel til api.statbank.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["cd3f8d13b171e665","04de2f1bc9f3d7f0","7f633ffd0eeb6925"],"x":63,"y":161,"w":963,"h":130},{"id":"a4ffe43b4506127a","type":"group","z":"fab488d10bc34cea","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["f3ca62a5e2a10d1e","f62200177295c9cd","e94d0bcc2a6ca1a3"],"x":64,"y":307,"w":822,"h":106},{"id":"e2663cd400512ad4","type":"group","z":"fab488d10bc34cea","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["dce67bdeb004e01c","5d76679f26804846","db7f63eb8e7c7d9c","7f726eff61b37445"],"x":74,"y":435,"w":952,"h":130},{"id":"789591867e638ff3","type":"group","z":"fab488d10bc34cea","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["cdeea154fc5d0890","651795baa51e5f8b","b538634215609a5f"],"x":74,"y":595,"w":632,"h":130},{"id":"9d9062981f60f273","type":"group","z":"48b24e9600d7c858","name":"Forespørgsel til api.statbank.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["d9ce8f56d9fdb814","2df3b5158f44bfa0","0eaf7adfebf810fd"],"x":63,"y":161,"w":963,"h":130},{"id":"4bd225f8f90bc471","type":"group","z":"48b24e9600d7c858","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["df2b53f23cf5f5f8","4b0ecab9d0d2bb49","bf66609514444286"],"x":64,"y":295,"w":862,"h":130},{"id":"e6dbb936a056b01a","type":"group","z":"48b24e9600d7c858","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["2935157c3b13a56f","c09418c6ae7e470a","411e1844091a02b5","02f07341ed2a9640"],"x":74,"y":435,"w":952,"h":130},{"id":"50c187ad8fbe8f05","type":"group","z":"48b24e9600d7c858","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["dcf17dbffc4c67fb","cf1d3e8622c1f707","3369b47caf95887c"],"x":74,"y":595,"w":632,"h":130},{"id":"a832b396336b3d04","type":"junction","z":"fab488d10bc34cea","x":40,"y":180,"wires":[["cd3f8d13b171e665"]]},{"id":"c55b4b4738487766","type":"junction","z":"fab488d10bc34cea","x":40,"y":320,"wires":[["f62200177295c9cd"]]},{"id":"ef88f12691dbefcc","type":"junction","z":"fab488d10bc34cea","x":40,"y":460,"wires":[["7f726eff61b37445"]]},{"id":"b94be5b4dfe21a7f","type":"junction","z":"fab488d10bc34cea","x":40,"y":600,"wires":[["b538634215609a5f"]]},{"id":"136e35dedbe5cb22","type":"junction","z":"fab488d10bc34cea","x":1060,"y":540,"wires":[["b94be5b4dfe21a7f"]]},{"id":"bdff64ede6405682","type":"junction","z":"fab488d10bc34cea","x":1060,"y":260,"wires":[["c55b4b4738487766"]]},{"id":"ec71dd3c6b5ee70d","type":"junction","z":"fab488d10bc34cea","x":380,"y":100,"wires":[["a832b396336b3d04"]]},{"id":"d7862099e66003e8","type":"junction","z":"fab488d10bc34cea","x":900,"y":380,"wires":[["ef88f12691dbefcc"]]},{"id":"5b2f3ddb2152aeb4","type":"junction","z":"48b24e9600d7c858","x":40,"y":180,"wires":[["d9ce8f56d9fdb814"]]},{"id":"321eb65c2d03b872","type":"junction","z":"48b24e9600d7c858","x":40,"y":320,"wires":[["df2b53f23cf5f5f8"]]},{"id":"e2c94113e26e0daf","type":"junction","z":"48b24e9600d7c858","x":40,"y":460,"wires":[["02f07341ed2a9640"]]},{"id":"9126bb564e86f5e0","type":"junction","z":"48b24e9600d7c858","x":40,"y":600,"wires":[["3369b47caf95887c"]]},{"id":"52ba87ee8e77c3df","type":"junction","z":"48b24e9600d7c858","x":1060,"y":540,"wires":[["9126bb564e86f5e0"]]},{"id":"6a1a3be4938208c9","type":"junction","z":"48b24e9600d7c858","x":1060,"y":260,"wires":[["321eb65c2d03b872"]]},{"id":"1c542f783ba805c3","type":"junction","z":"48b24e9600d7c858","x":380,"y":100,"wires":[["5b2f3ddb2152aeb4"]]},{"id":"82c2d2fcecba97c9","type":"junction","z":"48b24e9600d7c858","x":980,"y":380,"wires":[["e2c94113e26e0daf"]]},{"id":"5c13e4731fd7f4cf","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"8dd94efcd0784de3","type":"MySQL-Server-Connector","name":"DB","host":"${DB_HOST}","port":"3306","user":"${DB_USER}","password":"${DB_PASS}","tls":false,"database":"${DB_DATABASE}"},{"id":"4695ecb8b2747842","type":"function","z":"b13e2f5fc4f996fa","name":"Trækker fakturaer ud af system A","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["8db0551420b2e33a"]]},{"id":"8db0551420b2e33a","type":"function","z":"b13e2f5fc4f996fa","name":"Sorterer XXX fra","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[[]]},{"id":"f3ca62a5e2a10d1e","type":"change","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Rens og oversæt datofelt \\n til iso8601","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.maaned","pt":"msg","to":"$map(data.TID, function($v, $i, $a) {    $replace($substring($v,8),\"M\",\"-\") & \"-01\" })","tot":"jsonata"},{"t":"delete","p":"data.TID","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["d7862099e66003e8"]]},{"id":"f62200177295c9cd","type":"csv","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":240,"y":360,"wires":[["e94d0bcc2a6ca1a3"]]},{"id":"cd3f8d13b171e665","type":"change","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Opsætning af forespørgsel ↓ \\n Totalt antal indregistrerede biler i Randers Kommune \\n pr. måned, biltype, anvendelse og drivmiddel. ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{    \"table\": \"BIL54\",    \"format\": \"CSV\",    \"variables\": [       {          \"code\": \"OMRÅDE\",          \"values\": [             \"730\"          ]       },       {          \"code\": \"BILTYPE\",          \"values\": [             \"4000101002\",             \"4000102000\"          ]       },       {          \"code\": \"BRUG\",          \"values\": [             \"1100\",             \"1200\"          ]       },       {          \"code\": \"DRIV\",          \"values\": [             \"20205\",             \"20210\",             \"20215\",             \"20220\",             \"20225\",             \"20230\",             \"20231\",             \"20232\",             \"20235\"          ]       },       {          \"code\": \"Tid\",          \"values\": [             \"*\"          ]       }    ] }","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"BIL54\",\"format\":\"CSV\",\"valuePresentation\":\"CodeAndValue\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"BILTYPE\",\"values\":[\"4000101002\",\"4000102000\"]},{\"code\":\"BRUG\",\"values\":[\"1100\",\"1200\"]},{\"code\":\"DRIV\",\"values\":[\"20205\",\"20210\",\"20215\",\"20220\",\"20225\",\"20230\",\"20231\",\"20232\",\"20235\"]},{\"code\":\"Tid\",\"values\":[\"*\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":289,"y":226,"wires":[["04de2f1bc9f3d7f0"]]},{"id":"04de2f1bc9f3d7f0","type":"http request","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":240,"wires":[["7f633ffd0eeb6925"]]},{"id":"7f633ffd0eeb6925","type":"change","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Oprydning i uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["bdff64ede6405682"]]},{"id":"68da837af8cca8fa","type":"status","z":"fab488d10bc34cea","name":"","scope":null,"x":360,"y":60,"wires":[["cd224489cf9055bc"]]},{"id":"cd224489cf9055bc","type":"debug","z":"fab488d10bc34cea","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":60,"wires":[]},{"id":"dce67bdeb004e01c","type":"MySQL-Connector","z":"fab488d10bc34cea","g":"e2663cd400512ad4","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":690,"y":500,"wires":[["5d76679f26804846"]]},{"id":"cdeea154fc5d0890","type":"MySQL-Connector","z":"fab488d10bc34cea","g":"789591867e638ff3","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":410,"y":660,"wires":[["651795baa51e5f8b"]]},{"id":"651795baa51e5f8b","type":"json","z":"fab488d10bc34cea","g":"789591867e638ff3","name":"","property":"payload","action":"","pretty":false,"x":630,"y":660,"wires":[["1bfb8f74fc912819"]]},{"id":"7ad3fa7f.e3acd4","type":"cronplus","z":"fab488d10bc34cea","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"Pull data from BIL54","topic":"run","payloadType":"date","payload":"","expressionType":"cron","expression":"0 0 9 ? * MON#3 *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":100,"wires":[["ec71dd3c6b5ee70d"]]},{"id":"e94d0bcc2a6ca1a3","type":"change","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["f3ca62a5e2a10d1e"]]},{"id":"5d76679f26804846","type":"change","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["136e35dedbe5cb22"]]},{"id":"b538634215609a5f","type":"template","z":"fab488d10bc34cea","g":"789591867e638ff3","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Biltype, Drivmiddel, Anvendelse, Antal)\nVALUES( \n        '{{{data.maaned}}}',\n        '{{{data.BILTYPE}}}',\n        '{{{data.DRIV}}}',\n        '{{{data.BRUG}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Antal = '{{{data.INDHOLD}}}'","output":"str","x":200,"y":660,"wires":[["cdeea154fc5d0890"]]},{"id":"1bfb8f74fc912819","type":"debug","z":"fab488d10bc34cea","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"db7f63eb8e7c7d9c","type":"template","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tBiltype varchar(256),\n\tDrivmiddel varchar(48),\n\tAnvendelse varchar(128),\n\tAntal INT,\n\tUNIQUE (Måned, Drivmiddel, Biltype, Anvendelse)\n\t);","output":"str","x":450,"y":500,"wires":[["dce67bdeb004e01c"]]},{"id":"7f726eff61b37445","type":"change","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_BIL54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":500,"wires":[["db7f63eb8e7c7d9c"]]},{"id":"57c6a0bcf4804263","type":"inject","z":"fab488d10bc34cea","name":"Kør een gang 1 sekund efter deploy-time","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":220,"y":40,"wires":[["7ad3fa7f.e3acd4"]]},{"id":"57ef0a0959f536db","type":"status","z":"48b24e9600d7c858","name":"","scope":null,"x":520,"y":60,"wires":[["c93361d42c3902bd"]]},{"id":"c93361d42c3902bd","type":"debug","z":"48b24e9600d7c858","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":60,"wires":[]},{"id":"fd367ffded6a0ce5","type":"cronplus","z":"48b24e9600d7c858","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0  0  1  1  *  ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":100,"wires":[["1c542f783ba805c3"]]},{"id":"c243a8eb83cf2fee","type":"debug","z":"48b24e9600d7c858","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"9e0af4903e737337","type":"inject","z":"48b24e9600d7c858","name":"Kør een gang 30 sekunder efter deploy-time","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"30","topic":"","x":230,"y":40,"wires":[["fd367ffded6a0ce5"]]},{"id":"d9ce8f56d9fdb814","type":"change","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Opsætning af forespørgsel ↓ \\n Totalt antal kvm2 skov i Randers Kommune \\n pr. måned, biltype, anvendelse og drivmiddel","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"AREALDK\",\"format\":\"CSV\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"ENHED\",\"values\":[\"0120\"]},{\"code\":\"Tid\",\"values\":[\"*\"]},{\"code\":\"ARE1\",\"values\":[\"E\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":259,"y":226,"wires":[["2df3b5158f44bfa0"]]},{"id":"2df3b5158f44bfa0","type":"http request","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":240,"wires":[["0eaf7adfebf810fd"]]},{"id":"0eaf7adfebf810fd","type":"change","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Oprydning i uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["6a1a3be4938208c9"]]},{"id":"df2b53f23cf5f5f8","type":"csv","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":240,"y":360,"wires":[["4b0ecab9d0d2bb49"]]},{"id":"4b0ecab9d0d2bb49","type":"change","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"},{"t":"delete","p":"payload.ENHED","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["bf66609514444286"]]},{"id":"2935157c3b13a56f","type":"MySQL-Connector","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":690,"y":500,"wires":[["c09418c6ae7e470a"]]},{"id":"c09418c6ae7e470a","type":"change","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["52ba87ee8e77c3df"]]},{"id":"411e1844091a02b5","type":"template","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tArealtype varchar(256),\n\tAreal_km2 DECIMAL(4,1),\n\tUNIQUE (Måned)\n\t);","output":"str","x":450,"y":500,"wires":[["2935157c3b13a56f"]]},{"id":"02f07341ed2a9640","type":"change","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_AREALDK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":500,"wires":[["411e1844091a02b5"]]},{"id":"dcf17dbffc4c67fb","type":"MySQL-Connector","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":410,"y":660,"wires":[["cf1d3e8622c1f707"]]},{"id":"cf1d3e8622c1f707","type":"json","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","name":"","property":"payload","action":"","pretty":false,"x":630,"y":660,"wires":[["c243a8eb83cf2fee"]]},{"id":"3369b47caf95887c","type":"template","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Arealtype, Areal_km2)\nVALUES( \n        '{{{data.TID}}}',\n        '{{{data.ARE1}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Areal_km2 = '{{{data.INDHOLD}}}'","output":"str","x":200,"y":660,"wires":[["dcf17dbffc4c67fb"]]},{"id":"aef03c640b95a9ce","type":"inject","z":"48b24e9600d7c858","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":800,"wires":[["691d08a8b9cafb19"]]},{"id":"48c3651cc12d0e31","type":"template","z":"48b24e9600d7c858","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE {{tablename}}","output":"str","x":600,"y":800,"wires":[["dcf17dbffc4c67fb"]]},{"id":"691d08a8b9cafb19","type":"change","z":"48b24e9600d7c858","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_AREALDK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":800,"wires":[["48c3651cc12d0e31"]]},{"id":"bf66609514444286","type":"change","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Rens og oversæt datofelt \\n til iso8601 \\n Konverter areal til US decimal","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.TID","pt":"msg","to":"data.TID & \"-12-01\"","tot":"jsonata"},{"t":"set","p":"data.INDHOLD","pt":"msg","to":"$number($replace(data.INDHOLD, \",\", \".\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["82c2d2fcecba97c9","5c437ce7ae78d9ce"]]},{"id":"5c437ce7ae78d9ce","type":"debug","z":"48b24e9600d7c858","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":340,"wires":[]}]