node-red/flows.json
[{"id":"fab488d10bc34cea","type":"tab","label":"BIL54 api.statbank.dk ","disabled":false,"info":"","env":[]},{"id":"48b24e9600d7c858","type":"tab","label":"AREALDK api.statbank.dk","disabled":false,"info":"","env":[]},{"id":"8834f4e823c6a1a3","type":"tab","label":"Lavbund opendata.dk","disabled":false,"info":"Våd- og lavbundsområder i Randers kommune siden år 2000\r\nDet er etablerede våd- og lavbundsområder i Randers kommune fra år 2000 og frem\r\n\r\nhttps://www.opendata.dk/randers-kommune/vad-og-lavbundsomrader-i-randers-kommune-siden-ar-2000","env":[]},{"id":"9741320b35b05e22","type":"tab","label":"Test","disabled":false,"info":"","env":[]},{"id":"1bc1052eddc74b51","type":"tab","label":"Prometheus endpoint","disabled":false,"info":"","env":[]},{"id":"b13e2f5fc4f996fa","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"56d6546b49429320","type":"group","z":"fab488d10bc34cea","name":"Forespørgsel til api.statbank.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["cd3f8d13b171e665","04de2f1bc9f3d7f0","7f633ffd0eeb6925"],"x":63,"y":161,"w":963,"h":130},{"id":"a4ffe43b4506127a","type":"group","z":"fab488d10bc34cea","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["f3ca62a5e2a10d1e","f62200177295c9cd","e94d0bcc2a6ca1a3"],"x":64,"y":307,"w":822,"h":106},{"id":"e2663cd400512ad4","type":"group","z":"fab488d10bc34cea","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["dce67bdeb004e01c","5d76679f26804846","db7f63eb8e7c7d9c","7f726eff61b37445"],"x":74,"y":435,"w":952,"h":130},{"id":"4372db26da3da217","type":"group","z":"9741320b35b05e22","name":"Testdata","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.32","label-position":"sw"},"nodes":["2e52f6ed947a108b","c9095397d9cc8376","f0581223b12e6ee8","31ab682b16773b70","224cd8afdd794464"],"x":174,"y":199},{"id":"789591867e638ff3","type":"group","z":"fab488d10bc34cea","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["cdeea154fc5d0890","651795baa51e5f8b","b538634215609a5f"],"x":74,"y":595,"w":632,"h":130},{"id":"f8496ac4ecfd9786","type":"group","z":"9741320b35b05e22","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["6e73037f6449e872","961154aeab840d4a"],"x":454,"y":347},{"id":"15965be821b3f9d4","type":"group","z":"9741320b35b05e22","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["7d68f06694f02031","bc72d7d5eaee5a82","9395a2d15be1e12f","73e11e970dfc14ea"],"x":134,"y":475},{"id":"52f2ed508b2c85d1","type":"group","z":"9741320b35b05e22","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["a01297d05c7ae7f8","50f6eda5c7baaa0a","3e1b47b10e32277d"],"x":134,"y":615},{"id":"9d9062981f60f273","type":"group","z":"48b24e9600d7c858","name":"Forespørgsel til api.statbank.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["d9ce8f56d9fdb814","2df3b5158f44bfa0","0eaf7adfebf810fd"],"x":63,"y":161,"w":963,"h":130},{"id":"4bd225f8f90bc471","type":"group","z":"48b24e9600d7c858","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["df2b53f23cf5f5f8","4b0ecab9d0d2bb49","bf66609514444286"],"x":64,"y":295,"w":862,"h":130},{"id":"e6dbb936a056b01a","type":"group","z":"48b24e9600d7c858","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["2935157c3b13a56f","c09418c6ae7e470a","411e1844091a02b5","02f07341ed2a9640"],"x":74,"y":435,"w":952,"h":130},{"id":"50c187ad8fbe8f05","type":"group","z":"48b24e9600d7c858","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["dcf17dbffc4c67fb","cf1d3e8622c1f707","3369b47caf95887c"],"x":74,"y":595,"w":632,"h":130},{"id":"6e7a468eaacb3121","type":"group","z":"8834f4e823c6a1a3","name":"Forespørgsel til admin.opendata.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["76456d745e183b34","d4cc21141f5b8593"],"x":83,"y":161,"w":603,"h":130},{"id":"a832b396336b3d04","type":"junction","z":"fab488d10bc34cea","x":40,"y":180,"wires":[["cd3f8d13b171e665"]]},{"id":"c55b4b4738487766","type":"junction","z":"fab488d10bc34cea","x":40,"y":320,"wires":[["f62200177295c9cd"]]},{"id":"ef88f12691dbefcc","type":"junction","z":"fab488d10bc34cea","x":40,"y":460,"wires":[["7f726eff61b37445"]]},{"id":"b94be5b4dfe21a7f","type":"junction","z":"fab488d10bc34cea","x":40,"y":600,"wires":[["b538634215609a5f"]]},{"id":"136e35dedbe5cb22","type":"junction","z":"fab488d10bc34cea","x":1060,"y":540,"wires":[["b94be5b4dfe21a7f"]]},{"id":"bdff64ede6405682","type":"junction","z":"fab488d10bc34cea","x":1060,"y":260,"wires":[["c55b4b4738487766"]]},{"id":"ec71dd3c6b5ee70d","type":"junction","z":"fab488d10bc34cea","x":380,"y":100,"wires":[["a832b396336b3d04"]]},{"id":"4c13291cda85fe07","type":"junction","z":"9741320b35b05e22","x":1180,"y":580,"wires":[["a01297d05c7ae7f8"]]},{"id":"5b94442a8631d1f9","type":"junction","z":"9741320b35b05e22","x":1400,"y":420,"wires":[[]]},{"id":"d7862099e66003e8","type":"junction","z":"fab488d10bc34cea","x":900,"y":380,"wires":[["ef88f12691dbefcc"]]},{"id":"5b2f3ddb2152aeb4","type":"junction","z":"48b24e9600d7c858","x":40,"y":180,"wires":[["d9ce8f56d9fdb814"]]},{"id":"321eb65c2d03b872","type":"junction","z":"48b24e9600d7c858","x":40,"y":320,"wires":[["df2b53f23cf5f5f8"]]},{"id":"e2c94113e26e0daf","type":"junction","z":"48b24e9600d7c858","x":40,"y":460,"wires":[["02f07341ed2a9640"]]},{"id":"9126bb564e86f5e0","type":"junction","z":"48b24e9600d7c858","x":40,"y":600,"wires":[["3369b47caf95887c"]]},{"id":"52ba87ee8e77c3df","type":"junction","z":"48b24e9600d7c858","x":1060,"y":540,"wires":[["9126bb564e86f5e0"]]},{"id":"6a1a3be4938208c9","type":"junction","z":"48b24e9600d7c858","x":1060,"y":260,"wires":[["321eb65c2d03b872"]]},{"id":"1c542f783ba805c3","type":"junction","z":"48b24e9600d7c858","x":380,"y":100,"wires":[["5b2f3ddb2152aeb4"]]},{"id":"82c2d2fcecba97c9","type":"junction","z":"48b24e9600d7c858","x":980,"y":380,"wires":[["e2c94113e26e0daf"]]},{"id":"5980dd1bcc61a463","type":"junction","z":"8834f4e823c6a1a3","x":360,"y":120,"wires":[["db31d2bd175ea824"]]},{"id":"db31d2bd175ea824","type":"junction","z":"8834f4e823c6a1a3","x":60,"y":180,"wires":[["76456d745e183b34"]]},{"id":"5c13e4731fd7f4cf","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"8dd94efcd0784de3","type":"MySQL-Server-Connector","name":"DB","host":"${DB_HOST}","port":"3306","user":"${DB_USER}","password":"${DB_PASS}","tls":false,"database":"${DB_DATABASE}"},{"id":"964c4653bf1162b9","type":"prometheus-metric-config","name":"Up","help":"Up","labels":"name","mtype":"gauge"},{"id":"2872591fdae03b13","type":"prometheus-metric-config","name":"StatusCode","help":"HTTP statuscode frem hent data","labels":"","mtype":"gauge"},{"id":"a63a297ed093163a","type":"prometheus-metric-config","name":"Time","help":"Time for last run","labels":"","mtype":"gauge"},{"id":"4695ecb8b2747842","type":"function","z":"b13e2f5fc4f996fa","name":"Trækker fakturaer ud af system A","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["8db0551420b2e33a"]]},{"id":"8db0551420b2e33a","type":"function","z":"b13e2f5fc4f996fa","name":"Sorterer XXX fra","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[[]]},{"id":"f3ca62a5e2a10d1e","type":"change","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Rens og oversæt datofelt \\n til iso8601","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.maaned","pt":"msg","to":"$map(data.TID, function($v, $i, $a) {    $replace($substring($v,8),\"M\",\"-\") & \"-01\" })","tot":"jsonata"},{"t":"delete","p":"data.TID","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["d7862099e66003e8"]]},{"id":"f62200177295c9cd","type":"csv","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":240,"y":360,"wires":[["e94d0bcc2a6ca1a3"]]},{"id":"cd3f8d13b171e665","type":"change","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Opsætning af forespørgsel ↓ \\n Totalt antal indregistrerede biler i Randers Kommune \\n pr. måned, biltype, anvendelse og drivmiddel. ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{    \"table\": \"BIL54\",    \"format\": \"CSV\",    \"variables\": [       {          \"code\": \"OMRÅDE\",          \"values\": [             \"730\"          ]       },       {          \"code\": \"BILTYPE\",          \"values\": [             \"4000101002\",             \"4000102000\"          ]       },       {          \"code\": \"BRUG\",          \"values\": [             \"1100\",             \"1200\"          ]       },       {          \"code\": \"DRIV\",          \"values\": [             \"20205\",             \"20210\",             \"20215\",             \"20220\",             \"20225\",             \"20230\",             \"20231\",             \"20232\",             \"20235\"          ]       },       {          \"code\": \"Tid\",          \"values\": [             \"*\"          ]       }    ] }","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"BIL54\",\"format\":\"CSV\",\"valuePresentation\":\"CodeAndValue\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"BILTYPE\",\"values\":[\"4000101002\",\"4000102000\"]},{\"code\":\"BRUG\",\"values\":[\"1100\",\"1200\"]},{\"code\":\"DRIV\",\"values\":[\"20205\",\"20210\",\"20215\",\"20220\",\"20225\",\"20230\",\"20231\",\"20232\",\"20235\"]},{\"code\":\"Tid\",\"values\":[\"*\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":289,"y":226,"wires":[["04de2f1bc9f3d7f0"]]},{"id":"04de2f1bc9f3d7f0","type":"http request","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":240,"wires":[["7f633ffd0eeb6925"]]},{"id":"7f633ffd0eeb6925","type":"change","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Oprydning i uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["bdff64ede6405682"]]},{"id":"68da837af8cca8fa","type":"status","z":"fab488d10bc34cea","name":"","scope":null,"x":360,"y":60,"wires":[["cd224489cf9055bc"]]},{"id":"cd224489cf9055bc","type":"debug","z":"fab488d10bc34cea","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":60,"wires":[]},{"id":"dce67bdeb004e01c","type":"MySQL-Connector","z":"fab488d10bc34cea","g":"e2663cd400512ad4","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":690,"y":500,"wires":[["5d76679f26804846"]]},{"id":"cdeea154fc5d0890","type":"MySQL-Connector","z":"fab488d10bc34cea","g":"789591867e638ff3","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":410,"y":660,"wires":[["651795baa51e5f8b"]]},{"id":"651795baa51e5f8b","type":"json","z":"fab488d10bc34cea","g":"789591867e638ff3","name":"","property":"payload","action":"","pretty":false,"x":630,"y":660,"wires":[["1bfb8f74fc912819"]]},{"id":"7ad3fa7f.e3acd4","type":"cronplus","z":"fab488d10bc34cea","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"Pull data from BIL54","topic":"run","payloadType":"date","payload":"","expressionType":"cron","expression":"0 0 9 ? * MON#3 *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":100,"wires":[["ec71dd3c6b5ee70d"]]},{"id":"e94d0bcc2a6ca1a3","type":"change","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["f3ca62a5e2a10d1e"]]},{"id":"5d76679f26804846","type":"change","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["136e35dedbe5cb22"]]},{"id":"b538634215609a5f","type":"template","z":"fab488d10bc34cea","g":"789591867e638ff3","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Biltype, Drivmiddel, Anvendelse, Antal)\nVALUES( \n        '{{{data.maaned}}}',\n        '{{{data.BILTYPE}}}',\n        '{{{data.DRIV}}}',\n        '{{{data.BRUG}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Antal = '{{{data.INDHOLD}}}'","output":"str","x":200,"y":660,"wires":[["cdeea154fc5d0890"]]},{"id":"1bfb8f74fc912819","type":"debug","z":"fab488d10bc34cea","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"db7f63eb8e7c7d9c","type":"template","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tBiltype varchar(256),\n\tDrivmiddel varchar(48),\n\tAnvendelse varchar(128),\n\tAntal INT,\n\tUNIQUE (Måned, Drivmiddel, Biltype, Anvendelse)\n\t);","output":"str","x":450,"y":500,"wires":[["dce67bdeb004e01c"]]},{"id":"7f726eff61b37445","type":"change","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_BIL54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":500,"wires":[["db7f63eb8e7c7d9c"]]},{"id":"57c6a0bcf4804263","type":"inject","z":"fab488d10bc34cea","name":"Run at deploy-time","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":40,"wires":[["7ad3fa7f.e3acd4"]]},{"id":"57ef0a0959f536db","type":"status","z":"48b24e9600d7c858","name":"","scope":null,"x":360,"y":60,"wires":[["c93361d42c3902bd"]]},{"id":"c93361d42c3902bd","type":"debug","z":"48b24e9600d7c858","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":60,"wires":[]},{"id":"fd367ffded6a0ce5","type":"cronplus","z":"48b24e9600d7c858","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0  0  1  1  *  ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":140,"y":100,"wires":[["1c542f783ba805c3"]]},{"id":"c243a8eb83cf2fee","type":"debug","z":"48b24e9600d7c858","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"9e0af4903e737337","type":"inject","z":"48b24e9600d7c858","name":"Run at deploy-time","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":40,"wires":[["fd367ffded6a0ce5"]]},{"id":"d9ce8f56d9fdb814","type":"change","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Opsætning af forespørgsel ↓ \\n Totalt antal kvm2 skov i Randers Kommune \\n pr. måned, biltype, anvendelse og drivmiddel","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"AREALDK\",\"format\":\"CSV\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"ENHED\",\"values\":[\"0120\"]},{\"code\":\"Tid\",\"values\":[\"*\"]},{\"code\":\"ARE1\",\"values\":[\"E\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":259,"y":226,"wires":[["2df3b5158f44bfa0"]]},{"id":"2df3b5158f44bfa0","type":"http request","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":240,"wires":[["0eaf7adfebf810fd"]]},{"id":"0eaf7adfebf810fd","type":"change","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Oprydning i uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["6a1a3be4938208c9"]]},{"id":"df2b53f23cf5f5f8","type":"csv","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":240,"y":360,"wires":[["4b0ecab9d0d2bb49"]]},{"id":"4b0ecab9d0d2bb49","type":"change","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"},{"t":"delete","p":"payload.ENHED","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["bf66609514444286"]]},{"id":"2935157c3b13a56f","type":"MySQL-Connector","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":690,"y":500,"wires":[["c09418c6ae7e470a"]]},{"id":"c09418c6ae7e470a","type":"change","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["52ba87ee8e77c3df"]]},{"id":"411e1844091a02b5","type":"template","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tArealtype varchar(256),\n\tAreal_km2 DECIMAL(4,1),\n\tUNIQUE (Måned)\n\t);","output":"str","x":450,"y":500,"wires":[["2935157c3b13a56f"]]},{"id":"02f07341ed2a9640","type":"change","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_AREALDK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":500,"wires":[["411e1844091a02b5"]]},{"id":"dcf17dbffc4c67fb","type":"MySQL-Connector","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":410,"y":660,"wires":[["cf1d3e8622c1f707"]]},{"id":"cf1d3e8622c1f707","type":"json","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","name":"","property":"payload","action":"","pretty":false,"x":630,"y":660,"wires":[["c243a8eb83cf2fee"]]},{"id":"3369b47caf95887c","type":"template","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Arealtype, Areal_km2)\nVALUES( \n        '{{{data.TID}}}',\n        '{{{data.ARE1}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Areal_km2 = '{{{data.INDHOLD}}}'","output":"str","x":200,"y":660,"wires":[["dcf17dbffc4c67fb"]]},{"id":"aef03c640b95a9ce","type":"inject","z":"48b24e9600d7c858","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":800,"wires":[["691d08a8b9cafb19"]]},{"id":"48c3651cc12d0e31","type":"template","z":"48b24e9600d7c858","name":"","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE {{tablename}}","output":"str","x":600,"y":800,"wires":[["dcf17dbffc4c67fb"]]},{"id":"691d08a8b9cafb19","type":"change","z":"48b24e9600d7c858","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_AREALDK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":800,"wires":[["48c3651cc12d0e31"]]},{"id":"bf66609514444286","type":"change","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Rens og oversæt datofelt \\n til iso8601 \\n Konverter areal til US decimal","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.TID","pt":"msg","to":"data.TID & \"-12-01\"","tot":"jsonata"},{"t":"set","p":"data.INDHOLD","pt":"msg","to":"$number($replace(data.INDHOLD, \",\", \".\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["82c2d2fcecba97c9","5c437ce7ae78d9ce"]]},{"id":"5c437ce7ae78d9ce","type":"debug","z":"48b24e9600d7c858","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":340,"wires":[]},{"id":"e67c1df924beb9a1","type":"cronplus","z":"8834f4e823c6a1a3","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0  0  1  1  *  ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":160,"y":100,"wires":[["5980dd1bcc61a463"]]},{"id":"7252b7c843956315","type":"inject","z":"8834f4e823c6a1a3","name":"Run at deploy-time","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":40,"wires":[["e67c1df924beb9a1"]]},{"id":"d9914e91686d2b3e","type":"status","z":"8834f4e823c6a1a3","name":"","scope":null,"x":380,"y":60,"wires":[["df51bfbdcd0319c0"]]},{"id":"df51bfbdcd0319c0","type":"debug","z":"8834f4e823c6a1a3","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"76456d745e183b34","type":"change","z":"8834f4e823c6a1a3","g":"6e7a468eaacb3121","name":"Opsætning af forespørgsel ↓ \\n Våd- og lavbundsområder i \\n Randers Kommune siden år 2000","rules":[{"t":"set","p":"url","pt":"msg","to":"https://admin.opendata.dk/api/3/action/datastore_search?resource_id=9b9398d7-b07f-4fc3-b95e-b7f0b7c87566","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":249,"y":226,"wires":[["d4cc21141f5b8593"]]},{"id":"d4cc21141f5b8593","type":"http request","z":"8834f4e823c6a1a3","g":"6e7a468eaacb3121","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":570,"y":240,"wires":[["447f39147089ad83"]]},{"id":"6711cc6a4b81c08d","type":"debug","z":"8834f4e823c6a1a3","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"447f39147089ad83","type":"json","z":"8834f4e823c6a1a3","name":"","property":"payload","action":"","pretty":false,"x":770,"y":240,"wires":[["6711cc6a4b81c08d"]]},{"id":"d57dd4a04057bc3c","type":"comment","z":"8834f4e823c6a1a3","name":"result.fields = kolonnenavne og data typer \\n records array = liste med datarækker","info":"result.fields = kolonnenavne og data typer\n","x":880,"y":180,"wires":[]},{"id":"2e52f6ed947a108b","type":"template","z":"9741320b35b05e22","g":"4372db26da3da217","name":"testdata","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"OMRÅDE\": \"730 Randers\",\n    \"BILTYPE\": \"4000101002 Personbiler i alt\",\n    \"BRUG\": \"1100 I husholdningerne\",\n    \"DRIV\": \"20205 Benzin\",\n    \"TID\": \"2021M05 2021M05\",\n    \"INDHOLD\": 31829\n}","output":"json","x":280,"y":320,"wires":[["961154aeab840d4a","f0581223b12e6ee8"]]},{"id":"2d10c649a8f4e769","type":"debug","z":"9741320b35b05e22","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":980,"wires":[]},{"id":"9fa3c308aceb16f7","type":"MySQL-Connector","z":"9741320b35b05e22","d":true,"server":"8dd94efcd0784de3","name":"Send forespørgsel til database","x":810,"y":980,"wires":[["b9ec25702082205d"]]},{"id":"b9ec25702082205d","type":"json","z":"9741320b35b05e22","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":980,"wires":[["2d10c649a8f4e769"]]},{"id":"082f76cbd816a287","type":"template","z":"9741320b35b05e22","name":"SELECT *","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT *\nFROM {{tablename}}","output":"str","x":510,"y":900,"wires":[["9fa3c308aceb16f7"]]},{"id":"9009a8f04359db76","type":"inject","z":"9741320b35b05e22","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":900,"wires":[["2974ddb8766cf46e"]]},{"id":"2974ddb8766cf46e","type":"change","z":"9741320b35b05e22","name":"Set tablename","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_BIL54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":900,"wires":[["082f76cbd816a287"]]},{"id":"d03cd9624e3d0e1e","type":"template","z":"9741320b35b05e22","name":"DROP TABLE","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DROP TABLE {{tablename}}","output":"str","x":540,"y":1020,"wires":[["9fa3c308aceb16f7"]]},{"id":"9dd73c2603b2029e","type":"inject","z":"9741320b35b05e22","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1020,"wires":[["5dc8dbf6aeabdd16"]]},{"id":"5dc8dbf6aeabdd16","type":"change","z":"9741320b35b05e22","name":"Set tablename","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_BIL54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1020,"wires":[["d03cd9624e3d0e1e"]]},{"id":"c9095397d9cc8376","type":"template","z":"9741320b35b05e22","g":"4372db26da3da217","name":"testdata","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"OMRÅDE\": \"730 Randers\",\n    \"BILTYPE\": \"4000101002 Personbiler i alt\",\n    \"BRUG\": \"1200 I erhvervene\",\n    \"DRIV\": \"20230 Petroleum\",\n    \"TID\": \"2022M03 2022M03\",\n    \"INDHOLD\": 0\n}","output":"json","x":280,"y":400,"wires":[["961154aeab840d4a"]]},{"id":"f0581223b12e6ee8","type":"delay","z":"9741320b35b05e22","g":"4372db26da3da217","name":"simulate data read delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":360,"wires":[["c9095397d9cc8376"]]},{"id":"a0e23472db4844d5","type":"debug","z":"9741320b35b05e22","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":680,"wires":[]},{"id":"6e73037f6449e872","type":"change","z":"9741320b35b05e22","g":"f8496ac4ecfd9786","name":"Rens og oversæt datofelt \\n til iso8601","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.maaned","pt":"msg","to":"$map(data.TID, function($v, $i, $a) {    $replace($substring($v,8),\"M\",\"-\") & \"-01\" })","tot":"jsonata"},{"t":"delete","p":"data.TID","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":400,"wires":[["7d68f06694f02031","f5fd0298f1b0088b"]]},{"id":"961154aeab840d4a","type":"change","z":"9741320b35b05e22","g":"f8496ac4ecfd9786","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":400,"wires":[["6e73037f6449e872"]]},{"id":"7d68f06694f02031","type":"change","z":"9741320b35b05e22","g":"15965be821b3f9d4","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_BIL54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":540,"wires":[["73e11e970dfc14ea"]]},{"id":"bc72d7d5eaee5a82","type":"MySQL-Connector","z":"9741320b35b05e22","d":true,"g":"15965be821b3f9d4","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":750,"y":540,"wires":[["9395a2d15be1e12f"]]},{"id":"9395a2d15be1e12f","type":"change","z":"9741320b35b05e22","g":"15965be821b3f9d4","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":540,"wires":[["4c13291cda85fe07"]]},{"id":"a01297d05c7ae7f8","type":"template","z":"9741320b35b05e22","g":"52f2ed508b2c85d1","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Biltype, Drivmiddel, Anvendelse, Antal)\nVALUES( \n        '{{{data.maaned}}}',\n        '{{{data.BILTYPE}}}',\n        '{{{data.DRIV}}}',\n        '{{{data.BRUG}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Antal = '{{{data.INDHOLD}}}'","output":"str","x":260,"y":680,"wires":[["50f6eda5c7baaa0a"]]},{"id":"50f6eda5c7baaa0a","type":"MySQL-Connector","z":"9741320b35b05e22","d":true,"g":"52f2ed508b2c85d1","server":"8dd94efcd0784de3","name":"Send forespørgsel \\n til database","x":490,"y":680,"wires":[["3e1b47b10e32277d"]]},{"id":"3e1b47b10e32277d","type":"json","z":"9741320b35b05e22","g":"52f2ed508b2c85d1","name":"","property":"payload","action":"","pretty":false,"x":710,"y":680,"wires":[["a0e23472db4844d5"]]},{"id":"4bd0bd50415cb690","type":"inject","z":"9741320b35b05e22","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["31ab682b16773b70"]]},{"id":"f5fd0298f1b0088b","type":"debug","z":"9741320b35b05e22","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":400,"wires":[]},{"id":"73e11e970dfc14ea","type":"template","z":"9741320b35b05e22","g":"15965be821b3f9d4","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tBiltype varchar(256),\n\tDrivmiddel varchar(48),\n\tAnvendelse varchar(128),\n\tAntal INT,\n\tUNIQUE (Måned, Drivmiddel, Biltype, Anvendelse)\n\t);","output":"str","x":510,"y":540,"wires":[["bc72d7d5eaee5a82"]]},{"id":"4eb394161f841e9b","type":"change","z":"9741320b35b05e22","name":"Opsætning af forespørgsel ↓\\n Totalt antal indregistrerede biler og antal biler med drivmiddel \"El\" \\n i Randers Kommune","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"BIL54\",\"format\":\"CSV\",\"valuePresentation\":\"CodeAndValue\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"BILTYPE\",\"values\":[\"4000101002\",\"4000102000\"]},{\"code\":\"BRUG\",\"values\":[\"1100\",\"1200\"]},{\"code\":\"DRIV\",\"values\":[\"20205\",\"20210\",\"20215\",\"20220\",\"20225\",\"20230\",\"20231\",\"20232\",\"20235\"]},{\"code\":\"Tid\",\"values\":[\"*\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":120,"wires":[["6667df57b5628a47"]]},{"id":"6667df57b5628a47","type":"http request","z":"9741320b35b05e22","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":730,"y":120,"wires":[["aeb5d59477130640"]]},{"id":"8f271c1801a2db46","type":"inject","z":"9741320b35b05e22","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":40,"wires":[["4eb394161f841e9b"]]},{"id":"c8c1bbeb2e57289d","type":"debug","z":"9741320b35b05e22","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":220,"wires":[]},{"id":"aeb5d59477130640","type":"csv","z":"9741320b35b05e22","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1010,"y":120,"wires":[["c8c1bbeb2e57289d","961154aeab840d4a"]]},{"id":"31ab682b16773b70","type":"template","z":"9741320b35b05e22","g":"4372db26da3da217","name":"testdata","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"OMRÅDE\": \"730 Randers\",\n    \"BILTYPE\": \"4000101002 Personbiler i alt\",\n    \"BRUG\": \"1100 I husholdningerne\",\n    \"DRIV\": \"20231 Brint\",\n    \"TID\": \"2022M07 2022M07\",\n    \"INDHOLD\": 0\n}","output":"json","x":280,"y":240,"wires":[["961154aeab840d4a","224cd8afdd794464"]]},{"id":"224cd8afdd794464","type":"delay","z":"9741320b35b05e22","g":"4372db26da3da217","name":"simulate data read delay","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":280,"wires":[["2e52f6ed947a108b"]]},{"id":"188c6d17b2d986eb","type":"function","z":"1bc1052eddc74b51","name":"prometheus exporter","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":220,"wires":[["e00d01428e15e124"]]},{"id":"377fea258f46d0b8","type":"change","z":"1bc1052eddc74b51","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.op","pt":"msg","to":"inc","tot":"str"},{"t":"set","p":"payload.val","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"payload.labels.service","pt":"msg","to":"projektoverblik","tot":"str"},{"t":"set","p":"payload.labels.method","pt":"msg","to":"method","tot":"msg"},{"t":"set","p":"payload.labels.targeturl","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"payload.labels.status","pt":"msg","to":"statusCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["188c6d17b2d986eb"]]},{"id":"058605d56d45bf6f","type":"inject","z":"1bc1052eddc74b51","name":"","props":[{"p":"statusCode","v":"$round($random()*1000, 0)\t","vt":"jsonata"},{"p":"url","v":"http://this.one.goes.to","vt":"str"},{"p":"method","v":"GOK","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":380,"y":220,"wires":[["377fea258f46d0b8"]]},{"id":"c8370f5a75686d6a","type":"link in","z":"1bc1052eddc74b51","name":"Log","links":["32da9a6569b047c5"],"x":170,"y":220,"wires":[[]],"l":true},{"id":"e00d01428e15e124","type":"debug","z":"1bc1052eddc74b51","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"f10fb0adac5f747b","type":"change","z":"1bc1052eddc74b51","name":"build prometheus object","rules":[{"t":"set","p":"payload.labels.statuscode","pt":"msg","to":"httpstatus.statuscode","tot":"msg"},{"t":"set","p":"payload.labels.title","pt":"msg","to":"httpstatus.title","tot":"msg"},{"t":"set","p":"payload.labels.description","pt":"msg","to":"httpstatus.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[[]]},{"id":"2349db29858f0495","type":"change","z":"1bc1052eddc74b51","name":"","rules":[{"t":"set","p":"payload.labels.timestamp","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":260,"wires":[["f10fb0adac5f747b"]]},{"id":"a026de5a0f04b6a3","type":"change","z":"1bc1052eddc74b51","name":"prometheus template","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"op\":\"set\",\"val\":1,\"labels\":{}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":300,"wires":[["2349db29858f0495"]]},{"id":"72ca69ab41d90458","type":"function","z":"1bc1052eddc74b51","name":"prometheus exporter","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":580,"wires":[[]]},{"id":"1934535e5b1f9c75","type":"switch","z":"1bc1052eddc74b51","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"400","vt":"str"},{"t":"eq","v":"401","vt":"str"},{"t":"eq","v":"403","vt":"str"},{"t":"eq","v":"500","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":580,"y":380,"wires":[["51cb47d9ead5610b"],["89548dd44069f269"],["3052f966beebec7c"],["9abc56d196cea60f"]]},{"id":"51cb47d9ead5610b","type":"change","z":"1bc1052eddc74b51","name":"Handling 400","rules":[{"t":"set","p":"httpstatus","pt":"msg","to":"{\t   \"statusCode\": status.text,\t   \"title\": \"Bad Request\",\t   \"description\": \"Cannot process request\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[[]]},{"id":"89548dd44069f269","type":"change","z":"1bc1052eddc74b51","name":"Handling 401","rules":[{"t":"set","p":"httpstatus","pt":"msg","to":"{\t   \"statusCode\": status.text,\t   \"title\": \"Unauthorized\",\t   \"description\": \"Credentials missing or invalid\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":420,"wires":[[]]},{"id":"3052f966beebec7c","type":"change","z":"1bc1052eddc74b51","name":"Handling 403","rules":[{"t":"set","p":"httpstatus","pt":"msg","to":"{    \"statusCode\": status.text,    \"title\": \"Forbidden\",    \"description\": \"No Access allowed to this ressource for the supplied credentials\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":460,"wires":[[]]},{"id":"9abc56d196cea60f","type":"change","z":"1bc1052eddc74b51","name":"Handling 500","rules":[{"t":"set","p":"httpstatus","pt":"msg","to":"{    \"statusCode\": status.text,    \"title\": \"Internal Server Error\",    \"description\": \"Server encountered an unexpected error. Cannot process request\"}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":520,"wires":[[]]},{"id":"f84fe195aa974e68","type":"comment","z":"1bc1052eddc74b51","name":"Grafana tutorial: simple synthetic monitoring for applications","info":"https://grafana.com/blog/2019/06/18/grafana-tutorial-simple-synthetic-monitoring-for-applications/","x":510,"y":120,"wires":[]},{"id":"8f97bba5e7b24e18","type":"prometheus-exporter","z":"1bc1052eddc74b51","name":"Up","metric":"964c4653bf1162b9","x":490,"y":620,"wires":[]},{"id":"5464e8c5896eaa9c","type":"function","z":"1bc1052eddc74b51","name":"Create Up Metric","func":"msg.payload =\n{\n    \"op\": \"set\",\n    \"val\": 1,\n    \"labels\": {\n        \"name\": env.get('POD_NAME')\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":620,"wires":[["8f97bba5e7b24e18"]]},{"id":"bd994f3dacdc3006","type":"function","z":"1bc1052eddc74b51","name":"Create Prometheus","func":"var statusCode = msg.statusCode;\nmsg.payload =\n{\n    \"op\": \"set\",\n    \"val\": statusCode,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":540,"wires":[["b5cdae99d17251eb"]]},{"id":"b5cdae99d17251eb","type":"prometheus-exporter","z":"1bc1052eddc74b51","name":"StatusCode","metric":"2872591fdae03b13","x":510,"y":540,"wires":[]},{"id":"b126199f034c82e2","type":"function","z":"1bc1052eddc74b51","name":"Create Prometheus","func":"var time = new Date();\nmsg.payload =\n{\n    \"op\": \"set\",\n    \"val\": time,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":580,"wires":[["9c104a8959291eba"]]},{"id":"9c104a8959291eba","type":"prometheus-exporter","z":"1bc1052eddc74b51","name":"Time","metric":"a63a297ed093163a","x":490,"y":580,"wires":[]}]
