node-red/flows.json
[{"id":"fab488d10bc34cea","type":"tab","label":"BIL54 api.statbank.dk ","disabled":false,"info":"","env":[]},{"id":"48b24e9600d7c858","type":"tab","label":"AREALDK api.statbank.dk","disabled":false,"info":"# Danmarks areal\r\n### Statistikken viser Danmarks areal fordelt efter kommuner og regioner, opgjort pr. 1. januar. \r\nFra 2011 er opgørelsen baseret på data fra Geodatastyrelsens matrikelregister.\r\nKun matrikulerede områder er medtaget ved opmålingen, hvilket medfører, at mange søer ikke er medtaget. '\r\nFor kommuner med umatrikulerede søer vil arealet derfor være faldet sammenlignet med tidligere. Pr. 1. januar 2011-2013 gælder yderligere for København og Frederiksberg, at vejene ikke er matrikuleret og derfor ikke indgår i det opmålte areal.\r\n\r\nhttps://www.dst.dk/da/Statistik/dokumentation/statistikdokumentation/arealregnskab/indhold\r\n\r\n","env":[]},{"id":"8834f4e823c6a1a3","type":"tab","label":"LAVBUND opendata.dk","disabled":false,"info":"# Våd- og lavbundsområder i Randers kommune siden år 2000\r\n### Etablerede våd- og lavbundsområder i Randers kommune fra år 2000 og frem\r\n\r\nhttps://www.opendata.dk/randers-kommune/vad-og-lavbundsomrader-i-randers-kommune-siden-ar-2000","env":[]},{"id":"b13e2f5fc4f996fa","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"56d6546b49429320","type":"group","z":"fab488d10bc34cea","name":"Forespørgsel til api.statbank.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["cd3f8d13b171e665","04de2f1bc9f3d7f0","7f633ffd0eeb6925"],"x":94,"y":175,"w":963,"h":130},{"id":"a4ffe43b4506127a","type":"group","z":"fab488d10bc34cea","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["f3ca62a5e2a10d1e","f62200177295c9cd","e94d0bcc2a6ca1a3"],"x":94,"y":327,"w":832,"h":106},{"id":"e2663cd400512ad4","type":"group","z":"fab488d10bc34cea","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["dce67bdeb004e01c","5d76679f26804846","db7f63eb8e7c7d9c","7f726eff61b37445"],"x":94,"y":455,"w":972,"h":130},{"id":"789591867e638ff3","type":"group","z":"fab488d10bc34cea","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["cdeea154fc5d0890","651795baa51e5f8b","b538634215609a5f"],"x":94,"y":615,"w":632,"h":130},{"id":"9d9062981f60f273","type":"group","z":"48b24e9600d7c858","name":"Forespørgsel til api.statbank.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["d9ce8f56d9fdb814","2df3b5158f44bfa0","0eaf7adfebf810fd"],"x":94,"y":175,"w":963,"h":130},{"id":"4bd225f8f90bc471","type":"group","z":"48b24e9600d7c858","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["df2b53f23cf5f5f8","4b0ecab9d0d2bb49","bf66609514444286"],"x":94,"y":327,"w":952,"h":106},{"id":"e6dbb936a056b01a","type":"group","z":"48b24e9600d7c858","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["2935157c3b13a56f","c09418c6ae7e470a","411e1844091a02b5","02f07341ed2a9640"],"x":94,"y":455,"w":972,"h":130},{"id":"50c187ad8fbe8f05","type":"group","z":"48b24e9600d7c858","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["dcf17dbffc4c67fb","cf1d3e8622c1f707","3369b47caf95887c"],"x":94,"y":615,"w":632,"h":130},{"id":"6e7a468eaacb3121","type":"group","z":"8834f4e823c6a1a3","name":"Forespørgsel til admin.opendata.dk","style":{"label":true,"stroke":"none","fill":"#e3f3d3","fill-opacity":"0.5","color":"#7f7f7f"},"nodes":["76456d745e183b34","d4cc21141f5b8593","447f39147089ad83","42362e792c0ccae4"],"x":94,"y":175,"w":972,"h":138},{"id":"9072a48aa3a295a8","type":"group","z":"8834f4e823c6a1a3","name":"Database opsætning","style":{"label":true,"stroke":"none","fill":"#dbcbe7","fill-opacity":"0.47"},"nodes":["5faf844e177663ee","3bb87be8a8c0c420","65752c31a5522faf","d1f909b168e33c40"],"x":94,"y":475,"w":992,"h":130},{"id":"135076410a4b1b18","type":"group","z":"8834f4e823c6a1a3","name":"Skrivning af data til database","style":{"label":true,"stroke":"none","fill":"#ffefbf","fill-opacity":"0.5"},"nodes":["5362319b65082b0a","57182fe99ae6760e","47bb8108ee8bcb77"],"x":94,"y":655,"w":632,"h":130},{"id":"f21554e84cd0d748","type":"group","z":"8834f4e823c6a1a3","name":"Datavask og filtrering","style":{"stroke":"none","stroke-opacity":"0.5","label":true,"fill":"#ffefbf","fill-opacity":"0.49"},"nodes":["d23c2161e5f2c8ca","a6867a7bb823f3bf","5346920c94e7372c","122e767f6beb5d9c"],"x":94,"y":336,"w":972,"h":106},{"id":"a832b396336b3d04","type":"junction","z":"fab488d10bc34cea","x":60,"y":200,"wires":[["cd3f8d13b171e665"]]},{"id":"c55b4b4738487766","type":"junction","z":"fab488d10bc34cea","x":60,"y":340,"wires":[["f62200177295c9cd"]]},{"id":"ef88f12691dbefcc","type":"junction","z":"fab488d10bc34cea","x":60,"y":460,"wires":[["7f726eff61b37445"]]},{"id":"b94be5b4dfe21a7f","type":"junction","z":"fab488d10bc34cea","x":60,"y":620,"wires":[["b538634215609a5f"]]},{"id":"136e35dedbe5cb22","type":"junction","z":"fab488d10bc34cea","x":1100,"y":580,"wires":[["b94be5b4dfe21a7f"]]},{"id":"bdff64ede6405682","type":"junction","z":"fab488d10bc34cea","x":1080,"y":300,"wires":[["c55b4b4738487766"]]},{"id":"ec71dd3c6b5ee70d","type":"junction","z":"fab488d10bc34cea","x":400,"y":100,"wires":[["a832b396336b3d04"]]},{"id":"d7862099e66003e8","type":"junction","z":"fab488d10bc34cea","x":920,"y":400,"wires":[["ef88f12691dbefcc"]]},{"id":"5b2f3ddb2152aeb4","type":"junction","z":"48b24e9600d7c858","x":60,"y":200,"wires":[["d9ce8f56d9fdb814"]]},{"id":"321eb65c2d03b872","type":"junction","z":"48b24e9600d7c858","x":60,"y":340,"wires":[["df2b53f23cf5f5f8"]]},{"id":"e2c94113e26e0daf","type":"junction","z":"48b24e9600d7c858","x":60,"y":460,"wires":[["02f07341ed2a9640"]]},{"id":"9126bb564e86f5e0","type":"junction","z":"48b24e9600d7c858","x":60,"y":620,"wires":[["3369b47caf95887c"]]},{"id":"52ba87ee8e77c3df","type":"junction","z":"48b24e9600d7c858","x":1080,"y":580,"wires":[["9126bb564e86f5e0"]]},{"id":"6a1a3be4938208c9","type":"junction","z":"48b24e9600d7c858","x":1080,"y":300,"wires":[["321eb65c2d03b872"]]},{"id":"1c542f783ba805c3","type":"junction","z":"48b24e9600d7c858","x":400,"y":100,"wires":[["5b2f3ddb2152aeb4"]]},{"id":"82c2d2fcecba97c9","type":"junction","z":"48b24e9600d7c858","x":1100,"y":420,"wires":[["e2c94113e26e0daf"]]},{"id":"5980dd1bcc61a463","type":"junction","z":"8834f4e823c6a1a3","x":360,"y":120,"wires":[["db31d2bd175ea824"]]},{"id":"db31d2bd175ea824","type":"junction","z":"8834f4e823c6a1a3","x":60,"y":180,"wires":[["76456d745e183b34"]]},{"id":"e882301a1d27066d","type":"junction","z":"8834f4e823c6a1a3","x":60,"y":340,"wires":[["5346920c94e7372c"]]},{"id":"0710567a0b7e455c","type":"junction","z":"8834f4e823c6a1a3","x":60,"y":480,"wires":[["d1f909b168e33c40"]]},{"id":"1f2d319f4929ac71","type":"junction","z":"8834f4e823c6a1a3","x":1100,"y":280,"wires":[["e882301a1d27066d"]]},{"id":"6dd4f5c2593f3946","type":"junction","z":"8834f4e823c6a1a3","x":1120,"y":440,"wires":[["0710567a0b7e455c"]]},{"id":"b17360901cb08980","type":"junction","z":"8834f4e823c6a1a3","x":60,"y":660,"wires":[["47bb8108ee8bcb77"]]},{"id":"69d887b38b99f13c","type":"junction","z":"8834f4e823c6a1a3","x":1080,"y":600,"wires":[["b17360901cb08980"]]},{"id":"5c13e4731fd7f4cf","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"8dd94efcd0784de3","type":"MySQL-Server-Connector","name":"DB","host":"${DB_HOST}","port":"3306","user":"${DB_USER}","password":"${DB_PASS}","tls":false,"database":"${DB_DATABASE}"},{"id":"4695ecb8b2747842","type":"function","z":"b13e2f5fc4f996fa","name":"Trækker fakturaer ud af system A","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":80,"wires":[["8db0551420b2e33a"]]},{"id":"8db0551420b2e33a","type":"function","z":"b13e2f5fc4f996fa","name":"Sorterer XXX fra","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":80,"wires":[[]]},{"id":"f3ca62a5e2a10d1e","type":"change","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Rens og oversæt datofelt \\n til iso8601","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.maaned","pt":"msg","to":"$map(data.TID, function($v, $i, $a) {    $replace($substring($v,8),\"M\",\"-\") & \"-01\" })","tot":"jsonata"},{"t":"delete","p":"data.TID","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[["d7862099e66003e8"]]},{"id":"f62200177295c9cd","type":"csv","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":270,"y":380,"wires":[["e94d0bcc2a6ca1a3"]]},{"id":"cd3f8d13b171e665","type":"change","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Opsætning af forespørgsel ↓ \\n Totalt antal indregistrerede biler i Randers Kommune \\n pr. måned, biltype, anvendelse og drivmiddel. ","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"BIL54\",\"format\":\"CSV\",\"valuePresentation\":\"CodeAndValue\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"BILTYPE\",\"values\":[\"4000101002\",\"4000102000\"]},{\"code\":\"BRUG\",\"values\":[\"1100\",\"1200\"]},{\"code\":\"DRIV\",\"values\":[\"20205\",\"20210\",\"20215\",\"20220\",\"20225\",\"20230\",\"20231\",\"20232\",\"20235\"]},{\"code\":\"Tid\",\"values\":[\"*\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["04de2f1bc9f3d7f0"]]},{"id":"04de2f1bc9f3d7f0","type":"http request","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":641,"y":254,"wires":[["7f633ffd0eeb6925"]]},{"id":"7f633ffd0eeb6925","type":"change","z":"fab488d10bc34cea","g":"56d6546b49429320","name":"Oprydning i uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":901,"y":254,"wires":[["bdff64ede6405682"]]},{"id":"68da837af8cca8fa","type":"status","z":"fab488d10bc34cea","name":"","scope":null,"x":540,"y":60,"wires":[["cd224489cf9055bc"]]},{"id":"cd224489cf9055bc","type":"debug","z":"fab488d10bc34cea","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"dce67bdeb004e01c","type":"MySQL-Connector","z":"fab488d10bc34cea","g":"e2663cd400512ad4","server":"8dd94efcd0784de3","name":"Send forespørgsel","x":710,"y":520,"wires":[["5d76679f26804846"]]},{"id":"cdeea154fc5d0890","type":"MySQL-Connector","z":"fab488d10bc34cea","g":"789591867e638ff3","server":"8dd94efcd0784de3","name":"Send forespørgsel","x":470,"y":680,"wires":[["651795baa51e5f8b"]]},{"id":"651795baa51e5f8b","type":"json","z":"fab488d10bc34cea","g":"789591867e638ff3","name":"","property":"payload","action":"","pretty":false,"x":650,"y":680,"wires":[["1bfb8f74fc912819"]]},{"id":"7ad3fa7f.e3acd4","type":"cronplus","z":"fab488d10bc34cea","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"Pull data from BIL54","topic":"run","payloadType":"date","payload":"","expressionType":"cron","expression":"0 0 9 ? * MON#3 *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":160,"y":100,"wires":[["ec71dd3c6b5ee70d"]]},{"id":"e94d0bcc2a6ca1a3","type":"change","z":"fab488d10bc34cea","g":"a4ffe43b4506127a","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["f3ca62a5e2a10d1e"]]},{"id":"5d76679f26804846","type":"change","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["136e35dedbe5cb22"]]},{"id":"b538634215609a5f","type":"template","z":"fab488d10bc34cea","g":"789591867e638ff3","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Biltype, Drivmiddel, Anvendelse, Antal)\nVALUES( \n        '{{{data.maaned}}}',\n        '{{{data.BILTYPE}}}',\n        '{{{data.DRIV}}}',\n        '{{{data.BRUG}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Antal = '{{{data.INDHOLD}}}'","output":"str","x":220,"y":680,"wires":[["cdeea154fc5d0890"]]},{"id":"1bfb8f74fc912819","type":"debug","z":"fab488d10bc34cea","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":680,"wires":[]},{"id":"db7f63eb8e7c7d9c","type":"template","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tBiltype varchar(256),\n\tDrivmiddel varchar(48),\n\tAnvendelse varchar(128),\n\tAntal INT,\n\tUNIQUE (Måned, Drivmiddel, Biltype, Anvendelse)\n\t);","output":"str","x":470,"y":520,"wires":[["dce67bdeb004e01c"]]},{"id":"7f726eff61b37445","type":"change","z":"fab488d10bc34cea","g":"e2663cd400512ad4","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_BIL54","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":520,"wires":[["db7f63eb8e7c7d9c"]]},{"id":"57c6a0bcf4804263","type":"inject","z":"fab488d10bc34cea","name":"Kør een gang 5 sekunder efter deploy-time","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","x":250,"y":40,"wires":[["7ad3fa7f.e3acd4"]]},{"id":"57ef0a0959f536db","type":"status","z":"48b24e9600d7c858","name":"","scope":null,"x":540,"y":60,"wires":[["c93361d42c3902bd"]]},{"id":"c93361d42c3902bd","type":"debug","z":"48b24e9600d7c858","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"fd367ffded6a0ce5","type":"cronplus","z":"48b24e9600d7c858","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0  0  1  1  *  ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":160,"y":100,"wires":[["1c542f783ba805c3"]]},{"id":"c243a8eb83cf2fee","type":"debug","z":"48b24e9600d7c858","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":680,"wires":[]},{"id":"9e0af4903e737337","type":"inject","z":"48b24e9600d7c858","name":"Kør een gang 25 sekunder efter deploy-time","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"25","topic":"","x":250,"y":40,"wires":[["fd367ffded6a0ce5"]]},{"id":"d9ce8f56d9fdb814","type":"change","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Opsætning af forespørgsel ↓ \\n Totalt antal kvm2 skov i Randers Kommune \\n for alle registrerede år","rules":[{"t":"set","p":"url","pt":"msg","to":"https://api.statbank.dk/v1/data","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"table\":\"AREALDK\",\"format\":\"CSV\",\"variables\":[{\"code\":\"OMRÅDE\",\"values\":[\"730\"]},{\"code\":\"ENHED\",\"values\":[\"0120\"]},{\"code\":\"Tid\",\"values\":[\"*\"]},{\"code\":\"ARE1\",\"values\":[\"E\",\"F2\"]}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["2df3b5158f44bfa0"]]},{"id":"2df3b5158f44bfa0","type":"http request","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":641,"y":254,"wires":[["0eaf7adfebf810fd"]]},{"id":"0eaf7adfebf810fd","type":"change","z":"48b24e9600d7c858","g":"9d9062981f60f273","name":"Oprydning i uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":901,"y":254,"wires":[["6a1a3be4938208c9"]]},{"id":"df2b53f23cf5f5f8","type":"csv","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Konverter data ↓ \\n Fra semikolon separeret tekst til JSON","sep":";","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":270,"y":380,"wires":[["4b0ecab9d0d2bb49"]]},{"id":"4b0ecab9d0d2bb49","type":"change","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Fjern overflødige \\n datafelter","rules":[{"t":"delete","p":"payload.OMRÅDE","pt":"msg"},{"t":"delete","p":"payload.ENHED","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["bf66609514444286"]]},{"id":"2935157c3b13a56f","type":"MySQL-Connector","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","server":"8dd94efcd0784de3","name":"Send forespørgsel","x":710,"y":520,"wires":[["c09418c6ae7e470a"]]},{"id":"c09418c6ae7e470a","type":"change","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["52ba87ee8e77c3df"]]},{"id":"411e1844091a02b5","type":"template","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tMåned DATE,\n\tArealtype varchar(256),\n\tAreal_km2 DECIMAL(4,1),\n\tUNIQUE (Måned, Arealtype)\n\t);","output":"str","x":470,"y":520,"wires":[["2935157c3b13a56f"]]},{"id":"02f07341ed2a9640","type":"change","z":"48b24e9600d7c858","g":"e6dbb936a056b01a","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"dst_AREALDK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":520,"wires":[["411e1844091a02b5"]]},{"id":"dcf17dbffc4c67fb","type":"MySQL-Connector","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","server":"8dd94efcd0784de3","name":"Send forespørgsel","x":470,"y":680,"wires":[["cf1d3e8622c1f707"]]},{"id":"cf1d3e8622c1f707","type":"json","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","name":"","property":"payload","action":"","pretty":false,"x":650,"y":680,"wires":[["c243a8eb83cf2fee"]]},{"id":"3369b47caf95887c","type":"template","z":"48b24e9600d7c858","g":"50c187ad8fbe8f05","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Måned, Arealtype, Areal_km2)\nVALUES( \n        '{{{data.TID}}}',\n        '{{{data.ARE1}}}',\n        '{{{data.INDHOLD}}}'\n        )\nON DUPLICATE KEY UPDATE\n    Areal_km2 = '{{{data.INDHOLD}}}'","output":"str","x":220,"y":680,"wires":[["dcf17dbffc4c67fb"]]},{"id":"bf66609514444286","type":"change","z":"48b24e9600d7c858","g":"4bd225f8f90bc471","name":"Rens og oversæt datofelt \\n til iso8601 og konverter areal til US decimal","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"set","p":"data.TID","pt":"msg","to":"data.TID & \"-12-01\"","tot":"jsonata"},{"t":"set","p":"data.INDHOLD","pt":"msg","to":"$number($replace(data.INDHOLD, \",\", \".\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":380,"wires":[["82c2d2fcecba97c9"]]},{"id":"e67c1df924beb9a1","type":"cronplus","z":"8834f4e823c6a1a3","name":"Scheduled run","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0  0  1  1  *  ","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":160,"y":100,"wires":[["5980dd1bcc61a463"]]},{"id":"7252b7c843956315","type":"inject","z":"8834f4e823c6a1a3","name":"Run 40 seks efter deploy","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"40","topic":"","x":190,"y":40,"wires":[["e67c1df924beb9a1"]]},{"id":"d9914e91686d2b3e","type":"status","z":"8834f4e823c6a1a3","name":"","scope":null,"x":540,"y":60,"wires":[["df51bfbdcd0319c0"]]},{"id":"df51bfbdcd0319c0","type":"debug","z":"8834f4e823c6a1a3","name":"log til system console (stdout)","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"status","targetType":"msg","statusVal":"payload","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"76456d745e183b34","type":"change","z":"8834f4e823c6a1a3","g":"6e7a468eaacb3121","name":"Opsætning af forespørgsel ↓ \\n Våd- og lavbundsområder i \\n Randers Kommune siden år 2000","rules":[{"t":"set","p":"url","pt":"msg","to":"https://admin.opendata.dk/api/3/action/datastore_search?resource_id=9b9398d7-b07f-4fc3-b95e-b7f0b7c87566","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":240,"wires":[["d4cc21141f5b8593"]]},{"id":"d4cc21141f5b8593","type":"http request","z":"8834f4e823c6a1a3","g":"6e7a468eaacb3121","name":"Send forespørgsel","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"5c13e4731fd7f4cf","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":530,"y":260,"wires":[["42362e792c0ccae4"]]},{"id":"6711cc6a4b81c08d","type":"debug","z":"8834f4e823c6a1a3","name":"stdout","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":720,"wires":[]},{"id":"447f39147089ad83","type":"json","z":"8834f4e823c6a1a3","g":"6e7a468eaacb3121","name":"Formater data \\n som JSON","property":"payload","action":"","pretty":false,"x":960,"y":260,"wires":[["1f2d319f4929ac71"]]},{"id":"5faf844e177663ee","type":"MySQL-Connector","z":"8834f4e823c6a1a3","g":"9072a48aa3a295a8","server":"8dd94efcd0784de3","name":"Send forespørgsel","x":710,"y":540,"wires":[["3bb87be8a8c0c420"]]},{"id":"3bb87be8a8c0c420","type":"change","z":"8834f4e823c6a1a3","g":"9072a48aa3a295a8","name":"Oprydning i \\n uaktuelle parametre","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":540,"wires":[["69d887b38b99f13c"]]},{"id":"65752c31a5522faf","type":"template","z":"8834f4e823c6a1a3","g":"9072a48aa3a295a8","name":"Forespørgsel ↓\\n Opret tabel hvis der ikke \\n eksisterer en i forvejen ","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"CREATE TABLE if not exists {{tablename}} (\n\tcreated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\n\tlast_updated TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,\n\tId NUMERIC,\n\tAarstal DATE,\n\tProjektområde varchar(256),\n\tStatus varchar(256),\n\tAreal_km2 DECIMAL(4,1),\n\tUNIQUE (id)\n\t);","output":"str","x":470,"y":540,"wires":[["5faf844e177663ee"]]},{"id":"d1f909b168e33c40","type":"change","z":"8834f4e823c6a1a3","g":"9072a48aa3a295a8","name":"Konfigurer tabelnavn","rules":[{"t":"set","p":"tablename","pt":"msg","to":"opendata_lavbund","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":540,"wires":[["65752c31a5522faf"]]},{"id":"5362319b65082b0a","type":"MySQL-Connector","z":"8834f4e823c6a1a3","g":"135076410a4b1b18","server":"8dd94efcd0784de3","name":"Send forespørgsel","x":450,"y":720,"wires":[["57182fe99ae6760e"]]},{"id":"57182fe99ae6760e","type":"json","z":"8834f4e823c6a1a3","g":"135076410a4b1b18","name":"","property":"payload","action":"","pretty":false,"x":650,"y":720,"wires":[["6711cc6a4b81c08d"]]},{"id":"47bb8108ee8bcb77","type":"template","z":"8834f4e823c6a1a3","g":"135076410a4b1b18","name":"Forespørgsel ↓\\n Indsæt eller opdater \\n data i tabel","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO {{tablename}} \n    (Id, Aarstal, Projektområde, Status, Areal_km2)\nVALUES( \n        '{{{data._id}}}',\n        '{{{data.aarstal}}}',\n        '{{{data.projektomr}}}',\n        '{{{data.status}}}',\n        '{{{data.areal_klima_ha}}}'\n\n        )\nON DUPLICATE KEY UPDATE\n    Areal_km2 = '{{{data.areal_klima_ha}}}'","output":"str","x":220,"y":720,"wires":[["5362319b65082b0a"]]},{"id":"d23c2161e5f2c8ca","type":"change","z":"8834f4e823c6a1a3","g":"f21554e84cd0d748","name":"Rens og oversæt datofelt \\n til iso8601 og konverter Ha-streng til decimaltal","rules":[{"t":"set","p":"testdata","pt":"msg","to":"{\"_id\":1,\"ogc_fid\":2224,\"projektomr\":\"Lavbunds s. for Fårup\",\"status\":\"ngp_potentielle\",\"vandloebsnavn\":\"Skals Å\",\"vandloebssystem\":\"\",\"shape_wkt\":\"POLYGON ((550957.3255758903 6266870.013389035, 550980.8925757739 6266897.926076837, 551263.0280069966 6266954.754303506, 551341.2503895871 6266758.864063344, 551402.7585878632 6266775.243963972, 551416.1299353144 6266729.781382636, 551380.6958645683 6266723.09570891, 551428.4984317067 6266594.396489691, 551455.5754102957 6266601.416447103, 551507.3893816696 6266480.40575267, 551774.4820470096 6266614.119227182, 551798.2161887357 6266554.616731023, 551821.6160467755 6266566.985227416, 551831.644557364 6266555.285298398, 552083.6944568213 6266457.674462004, 552103.0829106257 6266458.00874569, 552188.6595343141 6266447.311667727, 552296.6331649838 6266414.217582787, 552297.9702997288 6266210.304534154, 552347.1100016125 6266227.018718469, 552388.3940368682 6266254.095697058, 552427.1709444771 6266287.69120753, 552488.6791427532 6266334.490923608, 552555.703021853 6266380.622072314, 552562.0544118924 6266383.964909178, 552565.0629650686 6266385.803469453, 552600.8313195009 6266408.20047643...\",\"aarstal\":2023,\"areal_klima_ha\":\"167,468614\"}","tot":"json"},{"t":"set","p":"data.aarstal","pt":"msg","to":"data.aarstal & \"-12-01\"","tot":"jsonata"},{"t":"set","p":"data.areal_klima_ha","pt":"msg","to":"$number($replace(data.areal_klima_ha, \",\", \".\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":389,"wires":[["6dd4f5c2593f3946"]]},{"id":"a6867a7bb823f3bf","type":"split","z":"8834f4e823c6a1a3","g":"f21554e84cd0d748","name":"Opdel data \\n i objekter","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":392,"y":389,"wires":[["122e767f6beb5d9c"]]},{"id":"5346920c94e7372c","type":"change","z":"8834f4e823c6a1a3","g":"f21554e84cd0d748","name":"Udvælg datalinier","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.result.records","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":389,"wires":[["a6867a7bb823f3bf"]]},{"id":"122e767f6beb5d9c","type":"change","z":"8834f4e823c6a1a3","g":"f21554e84cd0d748","name":"Flyt opdelt data \\n til dataobjekt","rules":[{"t":"move","p":"payload","pt":"msg","to":"data","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":569,"y":389,"wires":[["d23c2161e5f2c8ca"]]},{"id":"42362e792c0ccae4","type":"change","z":"8834f4e823c6a1a3","g":"6e7a468eaacb3121","name":"Oprydning i  \\n uaktuelle parametre","rules":[{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"method","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"cronplus","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["447f39147089ad83"]]}]